$mobile-resolutions: 768px;
$tablet-resolutions: 976px;

.b-footer {
  &-input {
    background-color: var(--color-brand-bg);
    border: 2px solid #ffffff;
    border-radius: 10px;
    color: var(--color-white);
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 11px 15px 13px;
    width: 300px;

    &::placeholder {
      color: var(--color-white);
    }

    &:focus {
      outline: none;
    }

    @media (max-width: $tablet-resolutions) {
      width: 100%;
      max-width: 380px;
    }
  }

  &-btn {
    width: 145px;
    border: 1px solid transparent;

    &:hover {
      border-color: #F5F5F5 !important;
    }

    @media (max-width: $tablet-resolutions) {
      width: 100%;
      max-width: 380px;
    }
  }
}
