@use '../config/all-config' as cfg;

.btn {
  display: inline-block;
  background-color: var(--color_1);
  color: var(--color-white);
  cursor: pointer;
  border: 1px solid var(--color_1);
  padding: 1.4rem 2rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  transition: all 0.3s;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;

  &.btn-disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;

    &:hover {
      transform: translateY(0);
    }
  }

  &.btn-mini {
    padding: 7px 15px 5px;
    min-width: 70px;
    border-radius: 5px;
  }

  &.btn-light {
    background-color: #F5F5F5;
    padding: 15px 32px;
    color: #474747;
    line-height: 16px;
    text-align: center;

    &-no-border {
        border: 1px solid #F5F5F5 !important;
        &:hover {
            border: 1px solid #474747 !important;
        }
    }

    &:hover {
        background-color: #474747 !important;
        color:#F5F5F5 !important;
    }
  }

  &.flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.btn-primary {
  color: #fff;
  background-color: var(--color_1);
  border-color: var(--color_1);

  &:hover {
    background-color: #F5F5F5;
    color: #474747;
  }

  &-mini {
    max-height: 40px;
    padding: 12px 24px;
  }
}

.btn-secondary {
  background-color: #F5F5F5;
  border-color: #474747;
  color: #474747;

  &:hover {
    background-color: #474747;
    color: #F5F5F5;
  }

  &-mini {
    max-height: 40px;
    padding: 12px 24px;
  }

  &.m-invert {
    background-color: var(--color_2_tertiary);
    color: var(--color_2);

    &:hover {
      background-color: var(--color_2);
      border-color: var(--color_2);
    }
  }
}

.btn-tertiary,
.template-product.m-product-landing-page .l-product__main .btn.btn-primary {
  background-color: var(--color_3);
  border-color: var(--color_3);

  &:hover {
    background-color: var(--color_3_tertiary);
    color: var(--color_3);
  }

  &.m-invert {
    background-color: var(--color_3_tertiary);
    color: var(--color_3);

    &:hover {
      background-color: var(--color_3);
      border-color: var(--color_3);
    }
  }
}

.btn-fourth {
  background-color: var(--color_4);
  border-color: var(--color_4);

  &:hover {
    background-color: var(--color_4_secondary);
    color: var(--color_4);
  }

  &.m-invert {
    background-color: var(--color_4_secondary);
    color: var(--color_4);

    &:hover {
      background-color: var(--color_4);
      border-color: var(--color_4);
    }
  }
}

.btn-fifth {
  background-color: var(--color_5);
  border-color: var(--color_5);

  &:hover {
    background-color: var(--color_5_secondary);
    color: var(--color_5);
  }

  &.m-invert {
    background-color: var(--color_5_secondary);
    color: var(--color_5);

    &:hover {
      background-color: var(--color_5);
      border-color: var(--color_5);
    }
  }
}

.btn-sixth {
  background-color: var(--color_6);
  border-color: var(--color_6);

  &:hover {
    background-color: var(--color_6_secondary);
    color: var(--color_6);
  }

  &.m-invert {
    background-color: var(--color_6_secondary);
    color: var(--color_6);

    &:hover {
      background-color: var(--color_6);
      border-color: var(--color_6);
    }
  }
}

// .btn-invert {
//   font-weight: 800;
//   font-size: 16px;
//   line-height: 20px;
//   padding: 12px 15px 12px;
//   text-transform: uppercase;
//   background-color: var(--color-white);
//   color: var(--color_1);

//   &:hover {
//     background-color: var(--color_1-hover);
//     color: var(--color-white);
//   }
// }
