@use '../config/all-config' as cfg;

.b-product {
  text-align: center;

  &-title {
    @include cfg.font(gaspacho, 14px, 1.2em);

    margin-bottom: 1rem;
  }

  &-link {

  }

  &-price {
    @include cfg.font(regular, 18px, 1.2em);
  }

  &-actions {
    padding: 10px 0 0;
  }

  &__desc {
    p {
      padding-bottom: 1.5rem;
    }
  }

  &__galley {

  }

}
