@use '../config/all-config' as cfg;

.b-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  width: 100%;
  max-width: 142px;
  min-width: 142px;
  border: 2px solid var(--secondary-color, #181818);
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0,0,0, 0.2);

  &-sign {
    padding: 0 10px;
    cursor: pointer;
    font-size: 20px;

    &.m-plus {
      color: var(--secondary-color, #181818);
    }

    &.m-minus {
      color: var(--secondary-color, #181818);
    }
  }

  &-input {
    @include cfg.font(regular, 18px, 1.2em);

    color: var(--secondary-color);
  }
}
