// =============================
// Main Yuum Colors
// =============================
$white:         #FFFFFF;
$lightest-grey-3: #F5F5F5;
$lighter-grey-2:  #EEEEEE;
$light-grey-1:    #E7E7E7;
$grey:          #ADAEB0;
$dark-grey:     #474747;

// =============================
// Additional Colors
// =============================
$additional-color-1: #E0E0E0;
$additional-color-2: #C2C2C2;
$additional-color-3: #949597;
$additional-color-4: #6C6D6E;
$additional-color-5: #3B3B3B;


$el-focus-color:#78B956;

$padding-base: 1rem;
