
<section
  class="
  palette-{{ section.settings.color_scheme }}
  bg-scheme-bg
  b-post
  pb-12
"
>
  <div class="container px-8">
    <div class="md:flex gap-20 mb-20">
      {% if article.image %}
        <figure class="w-full md:w-1/2 mb-8 md:mb-0">
            {% render 'image' with article.image, class: "rounded-regular aspect-square h-auto shadow-regular" %}
        </figure>
      {% endif %}
      <div class="w-full md:w-1/2 flex flex-col justify-center gap-4">
        <h1 class="font-Gazpacho text-2xl md:text-4xl font-bold text-scheme-primary">{{ article.title }}</h1>
        {% if article.excerpt != blank %}
          <p class="text-base md:text-baseBig text-scheme-primary">{{ article.excerpt | strip_html }}</p>
        {% endif %}
      </div>
    </div>
    <section class="text-base text-scheme-primary">
      {{ article.content }}
    </section>
  </div>
</section>

  <!-- blog-post-section.liquid -->
{% schema %}
  {
    "name": "Blog Post Section",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color Scheme",
        "default": "scheme-1"
      },
      {
        "type": "text",
        "id": "excerpt_title",
        "label": "Excerpt Block Title",
        "default": "Summary"
      }
    ],
    "presets": [
      {
        "name": "Blog Post Section"
      }
    ]
  }
  {% endschema %}
