<section class="m-404-page">
  <div class="m-404-page__content">
    <h1 class="m-404-page__title">404</h1>
    <p class="m-404-page__subtitle">
      {{ section.settings.text }}
    </p>
    {% if section.settings.button_label != blank %}
      <a href="{{ routes.root_url }}" class="m-404-page__button">
        {{ section.settings.button_label }}
      </a>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Main 404",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "The page you are looking for does not exist or has been moved. Try another page or go to the main page."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Go to Home"
    }
  ]
}
{% endschema %}
