{% render 'entry' with '@/styles/sections/trial-faq.scss' %}

<section class="trial-faq py-24 bg-white">
  <div class="trial-faq__container page-width max-w-[800px] mx-auto">
    <h2 class="text-2xl font-Gazpacho mb-10 text-center text-[#D24F3A]">{{ section.settings.title | escape }}</h2>

    <div class="flex flex-col ">
      {% for block in section.blocks %}
        {%- render 'accordion-item',
          q: block.settings.question,
          a: block.settings.answer
        -%}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Trial FAQ",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "FAQs"
    }
  ],
  "blocks": [
    {
      "type": "faq_item",
      "name": "FAQ Item",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit?"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Trial FAQ",
      "blocks": [
        {
          "type": "faq_item"
        },
        {
          "type": "faq_item"
        },
        {
          "type": "faq_item"
        }
      ]
    }
  ]
}
{% endschema %}
