@use '../config/all-config' as cfg;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant-ligatures: none;
    font-size: 10px;
    line-height: 1.2em;
    scroll-behavior: auto !important;
  }

  [data-reveal] { will-change: transform, opacity; }
  [data-parallax] img, [data-parallax] [data-parallax-item] { will-change: transform; display:block; }

  body {
    @apply font-body;
    font-family: var(--font-body, 'Neue Haas Grotesk Display Pro'), system-ui, -apple-system, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.2em;
    background: var(--color-body-bg);
    color: var(--color-body-content);
    max-width: 100%;
    // overflow-x: hidden;

    &.no-scroll {
      overflow: hidden;
      // padding-right: var(--body-scrollbar-width, 20px);
      // padding-right: 20px;
      @screen md {
        padding-right: 20px;
      }
    }
  }

  .l-overlay {
    background: rgba(0,0,0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: none;

    body.no-scroll & {
      display: block;
    }
  }

  #l-main {
    // overflow: hidden;
    width: 100%;

    &.m-header-sticky { }
  }

  details > summary {
    @apply list-none;
  }

  details summary::-webkit-details-marker {
    @apply hidden;
  }


  h1,h2,h3,h4,h5,h6 {
    @apply font-heading;
    font-family: var(--font-heading, 'WT Monarch Nova'), system-ui, -apple-system, Arial, sans-serif;
    font-weight: 400;
  }

  /* Класові заголовки */
  .heading-1,
  .heading-2,
  .heading-3,
  .heading-4,
  .heading-5 {
    @apply font-heading;
    font-family: var(--font-heading, 'WT Monarch Nova'), system-ui, -apple-system, Arial, sans-serif;
    font-weight: 400;
    color: #474747;
  }

  .heading-1 {
    @include cfg.h1;
  }

  .heading-2 {
    @include cfg.h2;
  }

  .heading-3 {
    @include cfg.h3;
  }

  .heading-4 {
    @include cfg.h4;
  }

  .heading-5 {
    @include cfg.h5;
  }



  .body-2 {
    @include cfg.body-2;
  }

  // Images
  .figure-block { position: relative; }

  .figure-image {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
  }

  @theme {
    --shadow-3xl: 0 35px 35px rgba(0, 0, 0, 0.25);
  }
}

/* Icons */
.icon {
  width: 24px;
  height: 24px;

  &.m-small {
    width: 16px;
    height: 16px;
  }
}

/* Shopify challenge */
.shopify-challenge__container { padding: 30px 0; }
.shopify-challenge__message { padding: 10px 0; }

.container.m-responsive {
  @media (max-width: 767px) {
    max-width: 100%;
  }
}

@layer components {
  .link-underline {
    @apply relative transition-colors duration-300
    before:absolute after:absolute
    before:bottom-[-2px] after:bottom-[-2px]
    before:left-0 after:right-0
    before:w-0 after:w-0 hover:before:w-[50%] hover:after:w-[50%]
    before:h-[2px] after:h-[2px]
    before:bg-color_1 after:bg-color_1
    before:transition-[width] before:duration-300 after:transition-[width] after:duration-300;
  }
}


// breadcrumbs styles
.section-breadcrumbs {
    padding-bottom: 0!important;
}

.breadcrumbs-section {
    .breadcrumbs {
        &-nav {
            width: 100%;
        }

        &-list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;
            gap: 0;
        }

        &-item {
            display: inline-flex;
            font-size: 14px;
        }

        &-link {
            color: #474747;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.6px;
            font-weight: 400;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
                color: #ADAEB0;
            }

            &.current-page {
                color: #ADAEB0;
                cursor: default;

                &:hover {
                    color: #474747;
                }
            }
        }

        &-separator {
            color: #474747;
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
            margin: 0 14px;
        }
    }

    &--snippet {

    }

}

.breadcrumb-link--tag {
    font-size: 14px;
    border-right: 1px solid #474747;
    border-left: 1px solid #474747;
    padding: 0 14px;
}






// styles for review app
.yotpo-layout-header-wrapper {
    .yotpo-summary-section,
    .yotpo-star-distribution {
        display: none!important;
    }
}

.yotpo-display-s .yotpo-head .yotpo-headline {
    width: 100%!important;
    text-align: left!important;
}

#yotpo-headline-reviews {
    color: #474747;
    text-align: left!important;
    @include cfg.h3;
}

.yotpo-filters-container,
.yotpo-reviewer-verified-buyer-text,
.yotpo-review-votes-wrapper,
.yotpo-review-title {
    display: none!important;
}

.yotpo-review-border-smooth {
    background-image: none;
    border-bottom: 1px solid #474747;
}

.yotpo-reviewer {
    flex-direction: column!important;
    align-items: flex-start !important;
}



#yotpo-app > div > div > div > div:nth-child(2) > div.yotpo-review-border-smooth {
    display: none!important;
}

.yotpo-horizontal-pagination .selected {
    background-color: transparent!important;
    border-radius: 0!important;
    border-bottom: 1px solid #474747!important;
    color: #474747!important;
}



.yotpo-horizontal-pagination .selected, .yotpo-horizontal-pagination .yotpo-pagination-number-container .yotpo-pagination-number:hover {
    background-color: transparent!important;
    border-radius: 0!important;
    border-bottom: 1px solid #474747!important;
    color: #474747!important;
    transition: all 0.3s ease;
}

.yotpo-review-content .yotpo-read-more-text {
    font-size: 14px!important;
    color: #474747!important;
    font-weight: 500!important;
}
.yotpo-star-rating .star-container {
    width: 13.4px !important;
}

.yotpo-head {
    align-items: flex-start !important;
    justify-content: flex-start !important;
}

.yotpo-headline-reviews {
    text-align: left!important;
}

.yotpo-display-l .yotpo-main-layout .yotpo-head, .yotpo-display-m .yotpo-main-layout .yotpo-head {
    margin-bottom: 60px!important;
    margin-top: 0px!important;
}

.yotpo-display-s .yotpo-head {
    margin-top: 0!important;
}

.yotpo-display-s .yotpo-head .yotpo-headline {
    margin-top: 0!important;
}

.m-page-about_products,
.template-collection,
.m-page-faq-tabs {
    .shopify-section {
        &:first-child {
            padding-bottom: 0;
        }
    }

    [id*="__collection_filters"] {
        padding-bottom: 0;
    }

}

.template-index {
  .shopify-section {
    padding-bottom: 0;
  }
  #hero-template--26463982190966__c_hero_banner_bhLXqh.b-hero-banner {
    margin-top: -93px;

    @include cfg.media(max-t) {
      margin-top: -60px;
    }
  }

  .b-header {
    border-color: #fff;
    position: relative;
    z-index: 9;

    .b-header__list-link, .group button, .b-header__list-link.m-active{
      color: #fff !important;
    }

    .group button svg path {
      fill: #fff !important;
    }

    .b-header__list-link.m-active::before, .b-header__list-link.m-active::after {
      background: #fff !important;
    }

    .b-header__cartlogin svg path {
      fill: #fff !important;
    }
  }

  #insta-feed {
    margin-bottom: 60px !important;

    h2 {
      line-height: 1.4;
      color: rgba(71, 71, 71, 1) !important;
    }
  }

  .instafeed-new-layout-wrapper {
    gap: 8px !important;

    .instafeed-new-layout-item {
      border-radius: 20px;
      overflow: hidden;
    }
  }
}


// chips styles
.chips-item {
    @apply inline-flex items-center rounded-full px-[14px] py-[8px] md:px-[24px] md:py-[12px] md:text-[18px] text-[13px] border border-[#ADAEB0] hover:bg-white hover:text-[#474747] transition;
}
