@use '../config/all-config' as cfg;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant-ligatures: none;
    font-size: 10px;
    line-height: 1.2em;
    scroll-behavior: auto !important;
  }

  :root { --sticky-offset: 200px; }

  #useful-properties,
  #benefits,
  #faq {
    scroll-margin-top: 200px;
  }

  [data-reveal] { will-change: transform, opacity; }
  [data-parallax] img, [data-parallax] [data-parallax-item] { will-change: transform; display:block; }

  body {
    @apply font-body;
    font-family: var(--font-body, 'Neue Haas Grotesk Display Pro'), system-ui, -apple-system, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.2em;
    background: var(--color-body-bg);
    color: var(--color-body-content);
    max-width: 100%;
    // overflow-x: hidden;

    &.no-scroll {
      overflow: hidden;
      // padding-right: var(--body-scrollbar-width, 20px);
      // padding-right: 20px;
      @screen md {
        // padding-right: 20px;
      }
    }
  }

  .l-overlay {
    background: rgba(0,0,0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 998;
    display: none;

    @media (max-width: 1366px) {
      z-index: 997;
    }

    body.no-scroll &,
    body.overflow-hidden & {
      display: block;
    }
  }

  #l-main {
    // overflow: hidden;
    width: 100%;

    &.m-header-sticky { }
  }

  details > summary {
    @apply list-none;
  }

  details summary::-webkit-details-marker {
    @apply hidden;
  }


  h1,h2,h3,h4,h5,h6 {
    @apply font-heading;
    font-family: var(--font-heading, 'WT Monarch Nova'), system-ui, -apple-system, Arial, sans-serif;
    font-weight: 400;
  }

  /* Класові заголовки */
  .heading-1,
  .heading-2,
  .heading-3,
  .heading-4,
  .heading-5,
  .heading-6 {
    @apply font-heading;
    font-family: var(--font-heading, 'WT Monarch Nova'), system-ui, -apple-system, Arial, sans-serif;
    font-weight: 400;
    color: #474747;
  }

  .heading-1 {
    @include cfg.h1;
  }

  .heading-2 {
    @include cfg.h2;
  }

  .heading-3 {
    @include cfg.h3;
  }

  .heading-4 {
    @include cfg.h4;
  }

  .heading-5 {
    @include cfg.h5;
  }

  .heading-6 {
    @include cfg.h6;
  }

  .heading-7 {
    @include cfg.h7;
  }


 //map styles
 .visit-suggestions {
    transition: all 0.3s ease;
    font-size: 14px;
    border-radius: 4px;

    li {
        padding: 10px 16px;
        &:hover {
            background-color: #474747;
            color: #ffff;
        }
    }
 }





 //common form styles
  .form-control,
  input,
  textarea {
    border-bottom: 1px solid #474747!important;
    padding: 0!important;
    font-size: 16px!important;
    background: transparent!important;
    width: 100%!important;
    height: 40px!important;
    position: relative!important;
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;

    &::placeholder { color: #C2C2C2!important; }
    &:focus {
        outline: none!important;
        border-bottom: 1px solid #78B956!important;
        box-shadow: none!important;
    }

    @include cfg.autofill-fix(#EEEEEE, #1a1a1a, #474747);
  }

  .body-2 {
    @include cfg.body-2;
  }

  // Images
  .figure-block { position: relative; }

  .figure-image {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
  }

  @theme {
    --shadow-3xl: 0 35px 35px rgba(0, 0, 0, 0.25);
  }
}

/* Icons */
.icon {
  width: 24px;
  height: 24px;

  &.m-small {
    width: 16px;
    height: 16px;
  }
}

/* Shopify challenge */
.shopify-challenge__container { padding: 30px 0; }
.shopify-challenge__message { padding: 10px 0; }

.container.m-responsive {
  @media (max-width: 767px) {
    max-width: 100%;
  }
}

@layer components {
  .link-underline {
    @apply relative transition-colors duration-300
    before:absolute after:absolute
    before:bottom-[-2px] after:bottom-[-2px]
    before:left-0 after:right-0
    before:w-0 after:w-0 hover:before:w-[50%] hover:after:w-[50%]
    before:h-[2px] after:h-[2px]
    before:bg-color_1 after:bg-color_1
    before:transition-[width] before:duration-300 after:transition-[width] after:duration-300;
  }
}


// breadcrumbs styles
.section-breadcrumbs {
    padding-bottom: 0!important;
}

.breadcrumbs-section {
    .breadcrumbs {
        &-nav {
            width: 100%;
        }

        &-list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;
            gap: 0;
        }

        &-item {
            display: inline-flex;
            color: #474747;
            font-size: 14px;
            @media (max-width: 767px) {
                font-size: 12px;
            }

        }

        &-link {
            color: #474747;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.6px;
            font-weight: 400;
            text-decoration: none;
            transition: color 0.3s ease;

            @media (max-width: 767px) {
                font-size: 12px;
            }

            &:hover {
                color: #ADAEB0;
            }

            &.current-page {
                color: #ADAEB0;
                cursor: default;

                &:hover {
                    color: #474747;
                }
            }
        }

        &-separator {
            color: #474747;
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
            margin: 0 14px;
        }
    }

    &--snippet {

    }

}

.breadcrumb-link--tag {
    font-size: 14px;
    border-right: 1px solid #474747;
    border-left: 1px solid #474747;
    padding: 0 14px;
}






// styles for review app
.yotpo-layout-header-wrapper {
    .yotpo-summary-section,
    .yotpo-star-distribution {
        display: none!important;
    }
}

.yotpo-display-s .yotpo-head .yotpo-headline {
    width: 100%!important;
    text-align: left!important;
}

#yotpo-headline-reviews {
    color: #474747;
    text-align: left!important;
    @include cfg.h3;
}

.yotpo-filters-container,
.yotpo-reviewer-verified-buyer-text,
.yotpo-review-votes-wrapper,
.yotpo-review-title {
    display: none!important;
}

.yotpo-review-border-smooth {
    background-image: none;
    border-bottom: 1px solid #474747;
}

.yotpo-reviewer {
    flex-direction: column!important;
    align-items: flex-start !important;
}



#yotpo-app > div > div > div > div:nth-child(2) > div.yotpo-review-border-smooth {
    display: none!important;
}

.yotpo-horizontal-pagination .selected {
    background-color: transparent!important;
    border-radius: 0!important;
    border-bottom: 1px solid #474747!important;
    color: #474747!important;
}



.yotpo-horizontal-pagination .selected, .yotpo-horizontal-pagination .yotpo-pagination-number-container .yotpo-pagination-number:hover {
    background-color: transparent!important;
    border-radius: 0!important;
    border-bottom: 1px solid #474747!important;
    color: #474747!important;
    transition: all 0.3s ease;
}

.yotpo-review-content .yotpo-read-more-text {
    font-size: 14px!important;
    color: #474747!important;
    font-weight: 500!important;
}
.yotpo-star-rating .star-container {
    width: 13.4px !important;
}

.yotpo-head {
    align-items: flex-start !important;
    justify-content: flex-start !important;
}

.yotpo-headline-reviews {
    text-align: left!important;
}

.yotpo-display-l .yotpo-main-layout .yotpo-head, .yotpo-display-m .yotpo-main-layout .yotpo-head {
    margin-bottom: 60px!important;
    margin-top: 0px!important;
}

.yotpo-display-s .yotpo-head {
    margin-top: 0!important;
}

.yotpo-display-s .yotpo-head .yotpo-headline {
    margin-top: 0!important;
}


.template-collection,
.m-page-faq-tabs {
    .shopify-section {
        &:first-child {
            padding-bottom: 0;
        }
    }

    [id*="__collection_filters"] {
        padding-bottom: 0;
    }

}

// events
.m-page-events {
    .shopify-section {
        &:first-child {
            padding-top: 60px;
            padding-bottom: 0px;
        }
    }
}

.template-index .shopify-section:first-of-type {
  padding-bottom: 0;
}

/* Прозорий хедер для головної та сторінок з класом .transparent-header */
.body--hero-first {
  .b-header {
    &:not(.m-sticky) {
      .b-header__list-link, .group a, .b-header__list-link.m-active {
        color: #fff;
      }

      .group a svg path {
        fill: #fff;
      }

      .b-header__list-link.m-active::before, .b-header__list-link.m-active::after {
        background: #fff;
      }

      .b-header__cartlogin svg path {
        fill: #fff;
      }

      .b-header__hamburger svg path,
      .b-header__search-toggle svg,
      .b-header__mobile-menu .b-header__mobile-icon {
        stroke: #fff;
        color: #fff;
      }
    }

    &.megamenu-open:not(.m-sticky),
    &.search-open:not(.m-sticky) {
      .b-header__list-link, .group a, .b-header__list-link.m-active {
        color: #474747;
      }

      .group a svg path {
        fill: #474747;
      }

      .b-header__list-link.m-active::before, .b-header__list-link.m-active::after {
        background: #474747;
      }

      .b-header__cartlogin svg path {
        fill: #474747;
      }

      .b-header__hamburger svg path,
      .b-header__search-toggle svg,
      .b-header__mobile-menu .b-header__mobile-icon {
        stroke: #474747;
        color: #474747;
      }
    }

    &.m-sticky {
      .b-header__list-link, .group a, .b-header__list-link.m-active {
        color: #474747;
      }

      .b-header__list-link {
        &::after,
        &::before {
          content: '';
          position: absolute;
          bottom: -1px;
          width: 0;
          height: 1px;
          background-color: #474747;
          transition: width 0.3s;
        }

        &::before {
          left: 0;
        }

        &::after {
          right: 0;
        }

        &:hover,
        &.m-active {
          &::before,
          &::after {
            width: 50%;
          }
        }
      }

      .group button svg path {
        fill: #474747;
      }

      .b-header__list-link.m-active::before, .b-header__list-link.m-active::after {
        background: #474747;
      }

      .b-header__cartlogin svg path {
        fill: #474747;
      }

      .b-header__hamburger svg path,
      .b-header__search-toggle svg,
      .b-header__mobile-menu .b-header__mobile-icon {
        stroke: #474747;
        color: #474747;
      }
    }
  }

  .logo--light,
  .b-header.m-sticky .logo--dark,
  .b-header.megamenu-open:not(.m-sticky) .logo--dark,
  .b-header.search-open:not(.m-sticky) .logo--dark {
    display: inline-flex;
  }

  .logo--dark,
  .b-header.m-sticky .logo--light,
  .b-header.megamenu-open:not(.m-sticky) .logo--light,
  .b-header.search-open:not(.m-sticky) .logo--light {
    display: none;
  }

  .b-header__wrapper.has-megamenu-open,
  .b-header__wrapper.has-search-open {
    background-color: #e7e7e7 !important;
  }

  div.shopify-section:has(> [id*="instafeed_app_block"]) {
    padding-bottom: 60px;
  }

  #insta-feed {
    h2 {
      line-height: 1.4;
      color: rgba(71, 71, 71, 1) !important;
    }
  }

  .instafeed-new-layout-wrapper {
    gap: 8px !important;

    .instafeed-new-layout-item {
      border-radius: 20px;
      overflow: hidden;
    }
  }

  .b-header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .b-header__mobile-left {
    flex: 1;
    justify-content: flex-start;
  }

  .b-header__cartlogin {
    flex: 1;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .b-header__logo {
    justify-content: center;
  }
}

/* Звичайний хедер для сторінок без класу .transparent-header */
.b-header {
  background: #e7e7e7;
  border-bottom: 1px solid #ADB0B0;

  &:not(.m-sticky) {
    .b-header__list-link, .group button, .b-header__list-link.m-active {
      color: #474747;
    }
    .group button svg path {
      fill: #474747;
    }

    .b-header__list-link {
      &::after,
      &::before {
        content: '';
        position: absolute;
        bottom: -1px;
        width: 0;
        height: 1px;
        background-color: #474747;
        transition: width 0.3s;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }

      &:hover,
      &.m-active {
        &::before,
        &::after {
          width: 50%;
        }
      }
    }

    .b-header__cartlogin svg path {
      fill: #474747;
    }
    .b-header__hamburger svg path,
    .b-header__search-toggle svg,
    .b-header__mobile-menu .b-header__mobile-icon {
      stroke: #474747;
      color: #474747;
    }
  }

  .logo--dark {
    display: inline-flex;
  }
  .logo--light {
    display: none;
  }
}

.b-header__cartlogin {
  flex: 1;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.products-section__header--title-bg {
  color: #fff !important;
  text-align: center;
  width: 100%;

  .heading-3 {
    color: #fff !important;
  }
}


// chips styles
.chips-item {
    @apply inline-flex items-center rounded-full px-[14px] py-[8px] md:px-[24px] md:py-[12px] md:text-[18px] text-[13px] border border-[#ADAEB0] hover:bg-white hover:text-[#474747] transition;

    &.is-active {
        @apply bg-white text-[#474747] transition
    }
}

// checkbox
.custom-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 32px;
    cursor: pointer;

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked + .checkbox-box {
        background-color: #474747;
        border-color: #474747;

        &::after {
          display: block;
        }
      }

      &:focus + .checkbox-box {
        box-shadow: 0 0 0 2px rgba(156, 163, 175, 0.3);
      }
    }

    .checkbox-box {
      position: relative;
      width: 24px;
      height: 24px;
      border: 2px solid #9ca3af;
      border-radius: 6px;
      flex-shrink: 0;

      &::after {
        content: '';
        position: absolute;
        display: none;
        left: 7px;
        top: 3px;
        width: 6px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

    .checkbox-label {
      color: #374151;
      user-select: none;
    }
  }


// badge
.badge {
    @apply inline-flex items-center leading-[16px] rounded-full bg-[#474747] text-white font-normal px-[12px] py-[8px] text-[12px] uppercase;

    &--light {
        width: fit-content;
        @apply inline-flex items-center leading-[16px] rounded-full bg-[#ADAEB0] text-white font-normal px-[12px] py-[8px] text-[12px];
    }

    &--transparent {
        background-color: transparent;
        color: #474747;
    }
}


// bundle layout styles
.m-product-ushopaid-mix-match-2 .shopify-section:first-child + .shopify-section {
    padding-bottom: 20px;
  }

  .m-product-ushopaid-mix-match-2 {
    .l-product .b-product__gallery {
        max-height: 520px;
    }
  }

// bundle styles
.m-product-ushopaid-mix-match-2 .b-product__gallery picture img {
    height: auto;
    max-height: 520px;
}

.ush-product-quantity {
    border: none!important;
}

[class^="ProductItem__Wrapper"] {
    border-radius: 12px!important;
    background: #EEEEEE!important;
}

.ush-quantity-plus,
.ush-quantity-minus {
    width: 35px!important;
    height: 35px!important;
    border: 1px solid #474747;
    border-radius: 50%;

    @media screen and (min-width: 420px) {
        width: 40px!important;
        height: 40px!important;
    }
}

.ush-product-item {
    gap: 16px;
    flex-direction: row!important;
    border-radius: 12px!important;
    border: 1px solid #E0E0E0;
}

.ush-product-img {
    max-width: 162px;
    max-height: 162px;
}

.ush-bf-next-btn {
    &:hover {
        background-color: #474747!important;
    }
}

.ush-bf-operate {
    flex-direction: row!important;
    justify-content: end;
    gap: 16px!important;
}

.ush-product-img-shadow {
    border-radius: 12px!important;
}

// styles for modal (porduct description)
.ush-info-title {
    font-family: var(--font-heading, 'WT Monarch Nova'), system-ui, -apple-system, Arial, sans-serif;
    font-size: 36px!important;
    font-weight: 400!important;

    @media screen and (min-width: 1024px) {
        font-size: 48px!important;
    }
}

.ush-info-quantity .ush-qty-cont {
    border: none!important;
    height: 40px!important;
}

// styles for modal content
.ushopaid-variant-selector-content {
    background-color: #E7E7E7!important;
    border-radius: 32px !important;
    flex-direction: column !important;
    align-items: center !important;
    width: auto!important;
    max-width: 660px!important;
    padding: 32px 16px !important;
    @media screen and (min-width: 1024px) {
        padding: 60px 40px !important;
    }
}

.ush-vs-right {
    width: 100%!important;
    padding: 16px 0px 0px 0px!important;
}

.ush-info-desc {
    max-width: 100%!important;
    font-size: 16px!important;
}


.ush-vs-left {
    display: none!important;
}

.ush-scroll-area {
    max-height: 100% !important;
}

// modal close btn
.ush-vs-close {
    background-color: transparent !important;
}

// mobile styles for modal
.ush-main-image {
    display: none!important;
}

.ush-vs-content-center {
    background-color: #E7E7E7!important;
}

.ush-info-quantity .ush-qty-cont {
    border: none!important;
}

.ush-vs-close-button {
    top: 0;
    left: 100%!important;
    transform: translateX(-100%) !important;
    background: transparent!important;
}

@media screen and (max-width: 1024px) {
    .iahsQT .ush-bundle-product-item-wrapper {
        width: 50%!important;
    }
}

@media screen and (max-width: 660px) {
    .iahsQT .ush-bundle-product-item-wrapper {
        width: 100%!important;
    }
}

@media screen and (max-width: 2360px) {
    #ushopaid-mix-and-match-bundle-wrapper, .ush-rich-text {
        max-width: 1380px!important;
    }
}

@media screen and (max-width: 2360px) {
    html body .ush-bundle-product-item-wrapper {
        padding: 12px !important;
    }
}

.ush-vs-content-center {
    margin-top: 0!important;
    max-height: calc(100% - 13.87vw)!important;
}

// .ush-info-title {
//     margin-top: 40px!important;
// }

.ProductRating__Wrapper-sc-1l4gexz-0.iwgPnw.ush-bundle-rating-wrapper {
    display: none!important;
}

.ush-info-title + .ProductRating__Wrapper-sc-1l4gexz-0.iwgPnw.ush-bundle-rating-wrapper {
    display: block!important;
}


.m-page-contact {
    .shopify-section {
        &:last-child {
            padding-bottom: 0px;
        }
    }
}

.m-product-new-bundle {
    [id*="__text_kicker_description_"] {
        padding-bottom: 80px;

        @media screen and (max-width: 768px) {
            padding-bottom: 60px;
        }
    }
}

.m-page-catering,
.m-page-wholesale-2 {
    .join-us-card {
        @media (min-width: 1024px) {
            gap: 40px;
            grid-template-columns: 420px 1fr;
        }
    }
}

.locations-card {
    .badge {
        padding: 4px 10px;
        @media (max-width: 768px) {
            font-size: 10px;
        }
    }
}

.m-index {
    .b-hero-banner_btn {
        min-width: 222px;
    }
}


.m-page-delivery {
    [id*="build-your-bundle-template"] {
        margin-bottom: 60px;
        @media (min-width: 1024px) {
            margin-top: 60px;
            margin-bottom: 120px;
        }
        .container {
            max-width: 1440px;
        }
    }

    .shopify-section {
        padding-bottom: 0;
        &:first-child {
            padding-top: 120px;
            padding-bottom: 60px!important;
            @media (min-width: 1024px) {
                padding-bottom: 80px!important;
            }

            .text-kicker-description {
                .text-kicker-description__title {
                    @media (min-width: 1024px) {
                        margin-bottom: 32px;
                    }
                }

                .text-kicker-description__desc {
                    @media (min-width: 1024px) {
                        font-size: 18px;
                    }
                }
            }
        }

        &:last-child {
            padding-bottom: 100px!important;
            @media (min-width: 1024px) {
                padding-bottom: 160px!important;
            }

        }

        .text-kicker-description {
            .text-kicker-description__title  {
                margin-bottom: 24px;
            }

            ul,ol {
                list-style: disc;
                margin-left: 22px;

                li {
                    &:not(:last-child) {
                        padding-bottom: 12px;
                    }
                }
            }

            ol {
                list-style: decimal;
            }
        }

        .b-hero-img {
            width: 980px;
            margin: 0 auto;
            padding: 0 16px 60px 16px;
            @media (min-width: 1024px) {
                padding: 0 40px 120px 40px;
            }
        }

    }
}


// wishlist
.wishlist-hero-header-icon {
    svg {
        font-size: 18px!important;
    }
}

.wishlisthero-product-in-wishlist {
    opacity: 1!important;
}

.site-header__icon span.wishlist-hero-items-count {
    position: absolute;
    background-color: #474747;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    width: 20px!important;
    height: 20px!important;
    right: -18px;
    top: -16px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 600;
    font-family: "Neue Haas Grotesk Display Pro", "system-ui", "-apple-system", "Arial", "sans-serif";
}

#wishlisthero-product-page-button-container {
    padding-top: 0px!important;

    button {
        opacity: 1!important;
    }
}

#wishlist-hero-product-page-button svg {
    color: #fff!important;
    width: 20px!important;
    height: 20px!important;
}

// wishlist page
.wishlist-hero-page-header {
    // padding-top: 60px;
    padding-bottom: 16px;

    svg {
        display: none;
    }
}

.wishlist-hero-list-footer {
    padding-bottom: 50px;
}

.wishlist-hero-page-actions-bar {
    display: none;
}

.wishlist-hero-list-card-header-added-on {
    display: none;
}

.MuiPaper-rounded {
    border-radius: 12px!important;
    border: 1px solid #E0E0E0!important;
    background-color: #EEEEEE!important;
    box-shadow: none !important;
    position: relative!important;
}

.MuiButtonGroup-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MuiButtonGroup-groupedOutlinedHorizontal:not(:last-child) {
    background-color: transparent!important;
    border: 1px solid #474747!important;
    border-radius: 32px!important;
    color: #474747!important;
    font-size: 12px!important;
    box-shadow: none!important;
    transition: all 0.3s ease!important;
    &:hover {
        background-color: #474747!important;
        color: #fff!important;
    }
}

.MuiButtonGroup-groupedOutlinedHorizontal:not(:first-child) {
    position: absolute!important;
    top: 10px!important;
    right: 0px!important;
}

.jss20 {
    padding-top: 85%!important;
}

.MuiCardActions-root {
    padding: 20px!important;
}

.MuiButton-label {
    font-weight: 400;
}

.MuiCardContent-root {

    p {
        font-weight: 400!important;
    }
}

.jss18 {
    padding: 0px!important;
}

.wishlist-hero-list-header  {
    display: none!important;
}

#__next {
    padding: 60px 40px 60px 40px;
    display: grid;
    gap: 50px;
    grid-template-columns: 250px 1fr;
    @media (max-width: 1024px) {
        grid-template-columns: 1fr;
        padding: 60px 16px 60px 16px;

        #wishlist-hero-shared-list-view {
            padding-left: 0!important;
            padding-right: 0!important;
        }
    }
    .account-nav__list {
        li {
            padding-bottom: 16px;
        }
    }
}

.col-span-2.p-0 {
  padding: 0;
}

body.body--info-banner-first main {
  padding-top: 20px;

  @media (max-width: 1024px)  {
    padding-top: 60px;
  }
}

html.scroll-locked,
body.scroll-locked {
  overflow: hidden;
  overscroll-behavior: none;
  height: 100%;
}
