@use '../config/all-config' as cfg;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant-ligatures: none;
    font-size: 10px;
    line-height: 1.2em;
    scroll-behavior: auto !important;
  }

  :root { --sticky-offset: 200px; }

  #useful-properties,
  #benefits,
  #faq {
    scroll-margin-top: 200px;
  }

  [data-reveal] { will-change: transform, opacity; }
  [data-parallax] img, [data-parallax] [data-parallax-item] { will-change: transform; display:block; }

  body {
    @apply font-body;
    font-family: var(--font-body, 'Neue Haas Grotesk Display Pro'), system-ui, -apple-system, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.2em;
    background: var(--color-body-bg);
    color: var(--color-body-content);
    max-width: 100%;
    // overflow-x: hidden;

    &.no-scroll {
      overflow: hidden;
      // padding-right: var(--body-scrollbar-width, 20px);
      // padding-right: 20px;
      @screen md {
        // padding-right: 20px;
      }
    }
  }

  .l-overlay {
    background: rgba(0,0,0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 998;
    display: none;

    body.no-scroll & {
      display: block;
    }
  }

  #l-main {
    // overflow: hidden;
    width: 100%;

    &.m-header-sticky { }
  }

  details > summary {
    @apply list-none;
  }

  details summary::-webkit-details-marker {
    @apply hidden;
  }


  h1,h2,h3,h4,h5,h6 {
    @apply font-heading;
    font-family: var(--font-heading, 'WT Monarch Nova'), system-ui, -apple-system, Arial, sans-serif;
    font-weight: 400;
  }

  /* Класові заголовки */
  .heading-1,
  .heading-2,
  .heading-3,
  .heading-4,
  .heading-5,
  .heading-6 {
    @apply font-heading;
    font-family: var(--font-heading, 'WT Monarch Nova'), system-ui, -apple-system, Arial, sans-serif;
    font-weight: 400;
    color: #474747;
  }

  .heading-1 {
    @include cfg.h1;
  }

  .heading-2 {
    @include cfg.h2;
  }

  .heading-3 {
    @include cfg.h3;
  }

  .heading-4 {
    @include cfg.h4;
  }

  .heading-5 {
    @include cfg.h5;
  }

  .heading-6 {
    @include cfg.h6;
  }

  .heading-7 {
    @include cfg.h7;
  }


 //map styles
 .visit-suggestions {
    transition: all 0.3s ease;
    font-size: 14px;
    border-radius: 4px;

    li {
        padding: 10px 16px;
        &:hover {
            background-color: #474747;
            color: #ffff;
        }
    }
 }





 //common form styles
  .form-control,
  input,
  textarea {
    border-bottom: 1px solid #474747!important;
    padding: 0!important;
    font-size: 16px!important;
    background: transparent!important;
    width: 100%!important;
    height: 40px!important;
    position: relative!important;
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;

    &::placeholder { color: #C2C2C2!important; }
    &:focus {
        outline: none!important;
        border-bottom: 1px solid #78B956!important;
        box-shadow: none!important;
    }

    @include cfg.autofill-fix(#EEEEEE, #1a1a1a, #474747);
  }

  .body-2 {
    @include cfg.body-2;
  }

  // Images
  .figure-block { position: relative; }

  .figure-image {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
  }

  @theme {
    --shadow-3xl: 0 35px 35px rgba(0, 0, 0, 0.25);
  }
}

/* Icons */
.icon {
  width: 24px;
  height: 24px;

  &.m-small {
    width: 16px;
    height: 16px;
  }
}

/* Shopify challenge */
.shopify-challenge__container { padding: 30px 0; }
.shopify-challenge__message { padding: 10px 0; }

.container.m-responsive {
  @media (max-width: 767px) {
    max-width: 100%;
  }
}

@layer components {
  .link-underline {
    @apply relative transition-colors duration-300
    before:absolute after:absolute
    before:bottom-[-2px] after:bottom-[-2px]
    before:left-0 after:right-0
    before:w-0 after:w-0 hover:before:w-[50%] hover:after:w-[50%]
    before:h-[2px] after:h-[2px]
    before:bg-color_1 after:bg-color_1
    before:transition-[width] before:duration-300 after:transition-[width] after:duration-300;
  }
}


// breadcrumbs styles
.section-breadcrumbs {
    padding-bottom: 0!important;
}

.breadcrumbs-section {
    .breadcrumbs {
        &-nav {
            width: 100%;
        }

        &-list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;
            gap: 0;
        }

        &-item {
            display: inline-flex;
            color: #474747;
            font-size: 14px;
            @media (max-width: 767px) {
                font-size: 12px;
            }

        }

        &-link {
            color: #474747;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.6px;
            font-weight: 400;
            text-decoration: none;
            transition: color 0.3s ease;

            @media (max-width: 767px) {
                font-size: 12px;
            }

            &:hover {
                color: #ADAEB0;
            }

            &.current-page {
                color: #ADAEB0;
                cursor: default;

                &:hover {
                    color: #474747;
                }
            }
        }

        &-separator {
            color: #474747;
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
            margin: 0 14px;
        }
    }

    &--snippet {

    }

}

.breadcrumb-link--tag {
    font-size: 14px;
    border-right: 1px solid #474747;
    border-left: 1px solid #474747;
    padding: 0 14px;
}






// styles for review app
.yotpo-layout-header-wrapper {
    .yotpo-summary-section,
    .yotpo-star-distribution {
        display: none!important;
    }
}

.yotpo-display-s .yotpo-head .yotpo-headline {
    width: 100%!important;
    text-align: left!important;
}

#yotpo-headline-reviews {
    color: #474747;
    text-align: left!important;
    @include cfg.h3;
}

.yotpo-filters-container,
.yotpo-reviewer-verified-buyer-text,
.yotpo-review-votes-wrapper,
.yotpo-review-title {
    display: none!important;
}

.yotpo-review-border-smooth {
    background-image: none;
    border-bottom: 1px solid #474747;
}

.yotpo-reviewer {
    flex-direction: column!important;
    align-items: flex-start !important;
}



#yotpo-app > div > div > div > div:nth-child(2) > div.yotpo-review-border-smooth {
    display: none!important;
}

.yotpo-horizontal-pagination .selected {
    background-color: transparent!important;
    border-radius: 0!important;
    border-bottom: 1px solid #474747!important;
    color: #474747!important;
}



.yotpo-horizontal-pagination .selected, .yotpo-horizontal-pagination .yotpo-pagination-number-container .yotpo-pagination-number:hover {
    background-color: transparent!important;
    border-radius: 0!important;
    border-bottom: 1px solid #474747!important;
    color: #474747!important;
    transition: all 0.3s ease;
}

.yotpo-review-content .yotpo-read-more-text {
    font-size: 14px!important;
    color: #474747!important;
    font-weight: 500!important;
}
.yotpo-star-rating .star-container {
    width: 13.4px !important;
}

.yotpo-head {
    align-items: flex-start !important;
    justify-content: flex-start !important;
}

.yotpo-headline-reviews {
    text-align: left!important;
}

.yotpo-display-l .yotpo-main-layout .yotpo-head, .yotpo-display-m .yotpo-main-layout .yotpo-head {
    margin-bottom: 60px!important;
    margin-top: 0px!important;
}

.yotpo-display-s .yotpo-head {
    margin-top: 0!important;
}

.yotpo-display-s .yotpo-head .yotpo-headline {
    margin-top: 0!important;
}


.template-collection,
.m-page-faq-tabs {
    .shopify-section {
        &:first-child {
            padding-bottom: 0;
        }
    }

    [id*="__collection_filters"] {
        padding-bottom: 0;
    }

}

// events
.m-page-events {
    .shopify-section {
        &:first-child {
            padding-top: 60px;
            padding-bottom: 0px;
        }
    }
}

.template-index {
  .shopify-section {
    padding-bottom: 0;
  }
  #hero-template--26463982190966__c_hero_banner_bhLXqh.b-hero-banner {
    margin-top: -93px;

    @include cfg.media(max-t) {
      margin-top: -60px;
    }
  }

  .b-header {
    &:not(.m-sticky) {
      .b-header__list-link, .group button, .b-header__list-link.m-active {
        color: #fff;
      }

      .group button svg path {
        fill: #fff;
      }

      .b-header__list-link.m-active::before, .b-header__list-link.m-active::after {
        background: #fff;
      }

      .b-header__cartlogin svg path {
        fill: #fff;
      }

      // ONLY target the specific hamburger and search buttons in header
      .b-header__hamburger svg path,
      .b-header__search-toggle svg,
      .b-header__mobile-menu .b-header__mobile-icon {
        stroke: #fff;
        color: #fff;
      }
    }

    // Виправлений селектор - & має бути на початку
    &.megamenu-open:not(.m-sticky),
    &.search-open:not(.m-sticky) {
      .b-header__list-link, .group button, .b-header__list-link.m-active {
        color: #474747;
      }

      .group button svg path {
        fill: #474747;
      }

      .b-header__list-link.m-active::before, .b-header__list-link.m-active::after {
        background: #474747;
      }

      .b-header__cartlogin svg path {
        fill: #474747;
      }

      // ONLY target the specific hamburger and search buttons in header
      .b-header__hamburger svg path,
      .b-header__search-toggle svg,
      .b-header__mobile-menu .b-header__mobile-icon {
        stroke: #474747;
        color: #474747;
      }
    }

    &.m-sticky {
      .b-header__list-link, .group button, .b-header__list-link.m-active {
        color: #474747;
      }

      .group button svg path {
        fill: #474747;
      }

      .b-header__list-link.m-active::before, .b-header__list-link.m-active::after {
        background: #474747;
      }

      .b-header__cartlogin svg path {
        fill: #474747;
      }

      // ONLY target the specific hamburger and search buttons in header
      .b-header__hamburger svg path,
      .b-header__search-toggle svg,
      .b-header__mobile-menu .b-header__mobile-icon {
        stroke: #474747;
        color: #474747;
      }
    }
  }

  .header--over-hero .logo--light,
  .header--over-hero.b-header.m-sticky .logo--dark,
  .header--over-hero.b-header.megamenu-open:not(.m-sticky) .logo--dark,
  .header--over-hero.b-header.search-open:not(.m-sticky) .logo--dark {
    display: inline-flex;
  }

  .logo--light,
  .header--over-hero .logo--dark,
  .header--over-hero.b-header.m-sticky .logo--light,
  .header--over-hero.b-header.megamenu-open:not(.m-sticky) .logo--light,
  .header--over-hero.b-header.search-open:not(.m-sticky) .logo--light {
    display: none;
  }

  // Фон для wrapper коли мегаменю або search відкрите
  .b-header__wrapper.has-megamenu-open,
  .b-header__wrapper.has-search-open {
    background-color: #e7e7e7 !important;
  }

  #insta-feed {
    margin-bottom: 60px !important;

    h2 {
      line-height: 1.4;
      color: rgba(71, 71, 71, 1) !important;
    }
  }

  .instafeed-new-layout-wrapper {
    gap: 8px !important;

    .instafeed-new-layout-item {
      border-radius: 20px;
      overflow: hidden;
    }
  }

  .b-header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .b-header__mobile-left {
    flex: 1;
    justify-content: flex-start;
  }

  .b-header__cartlogin {
    flex: 1;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .b-header__logo {
    justify-content: center;
  }
}

.products-section__header--title-bg {
  color: #fff !important;
  text-align: center;
  width: 100%;

  .heading-3 {
    color: #fff !important;
  }
}


// chips styles
.chips-item {
    @apply inline-flex items-center rounded-full px-[14px] py-[8px] md:px-[24px] md:py-[12px] md:text-[18px] text-[13px] border border-[#ADAEB0] hover:bg-white hover:text-[#474747] transition;

    &.is-active {
        @apply bg-white text-[#474747] transition
    }
}

// checkbox
.custom-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 32px;
    cursor: pointer;

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked + .checkbox-box {
        background-color: #474747;
        border-color: #474747;

        &::after {
          display: block;
        }
      }

      &:focus + .checkbox-box {
        box-shadow: 0 0 0 2px rgba(156, 163, 175, 0.3);
      }
    }

    .checkbox-box {
      position: relative;
      width: 24px;
      height: 24px;
      border: 2px solid #9ca3af;
      border-radius: 6px;
      flex-shrink: 0;

      &::after {
        content: '';
        position: absolute;
        display: none;
        left: 7px;
        top: 3px;
        width: 6px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

    .checkbox-label {
      color: #374151;
      user-select: none;
    }
  }


// badge
.badge {
    @apply inline-flex items-center leading-[16px] rounded-full bg-[#474747] text-white font-normal px-[12px] py-[8px] text-[12px] uppercase;

    &--light {
        width: fit-content;
        @apply inline-flex items-center leading-[16px] rounded-full bg-[#ADAEB0] text-white font-normal px-[12px] py-[8px] text-[12px];
    }

    &--transparent {
        background-color: transparent;
        color: #474747;
    }
}

// whosale
// .careers-section
// .careers-content
// .careers-image-wrapper,
// .careers-section
// .careers-content
// .careers-person-wrapper {
//     @media (max-width: 1439px) {

//     }
//     border-bottom: 1px solid #ADAEB0;
// }


// bundle layout styles
.m-product-ushopaid-mix-match-2 .shopify-section:first-child + .shopify-section {
    padding-bottom: 20px;
  }

// bundle styles
.cOnQpd {
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
}

.dtWOIU .ush-product-quantity {
    border: none!important;
}

.ush-quantity-plus,
.ush-quantity-minus {
    width: 40px!important;
    height: 40px!important;
    border: 1px solid #474747;
    border-radius: 50%;
}

.dtWOIU .ush-product-item {
    gap: 16px;
    flex-direction: row!important;
    border-radius: 12px!important;
    border: 1px solid #E0E0E0;
}

.dtWOIU .ush-product-img {
    max-width: 162px;
    max-height: 162px;
}

.dtWOIU {
    border-radius: 12px!important;
}

.ush-product-img-shadow {
    border-radius: 12px!important;
}

// styles for modal (porduct description)
.ush-info-title {
    @apply heading-4;
    font-size: 48px!important;
    font-weight: 400!important;
}

.fWaXZd .ush-info-quantity .ush-qty-cont {
    border: none!important;
    height: 40px!important;
}

// styles for modal content
.fWaXZd .ushopaid-variant-selector-content {
    background-color: #E7E7E7!important;
    border-radius: 32px !important;
    flex-direction: column !important;
    align-items: center !important;
    width: auto!important;
    max-width: 660px!important;
    padding: 60px 40px !important;
}

.fWaXZd .ush-vs-right {
    width: 100%!important;
    padding: 16px 0px 0px 0px!important;
}

.fWaXZd .ush-info-desc {
    max-width: 100%!important;
    font-size: 16px!important;
}


.fWaXZd .ush-vs-left {
    display: none!important;
}

.fWaXZd .ush-scroll-area {
    max-height: 100% !important;
}

// modal close btn
.fWaXZd .ush-vs-close {
    background-color: transparent !important;
}

// mobile styles for modal
.ush-main-image {
    display: none!important;
}

.ush-vs-content-center {
    background-color: #E7E7E7!important;
}

.hWnQcO .ush-info-quantity .ush-qty-cont {
    border: none!important;
}

.hWnQcO .ush-vs-close-button {
    top: 0;
    left: 100%!important;
    transform: translateX(-100%) !important;
    background: transparent!important;
}

@media screen and (max-width: 1024px) {
    .iahsQT .ush-bundle-product-item-wrapper {
        width: 50%!important;
    }
}

@media screen and (max-width: 660px) {
    .iahsQT .ush-bundle-product-item-wrapper {
        width: 100%!important;
    }
}

@media screen and (max-width: 2360px) {
    #ushopaid-mix-and-match-bundle-wrapper, .ush-rich-text {
        max-width: 1380px!important;
    }
}

@media screen and (max-width: 2360px) {
    html body .ush-bundle-product-item-wrapper {
        padding: 12px !important;
    }
}

.hWnQcO .ush-info-title {
    margin-top: 40px!important;
}

.ProductRating__Wrapper-sc-1l4gexz-0.iwgPnw.ush-bundle-rating-wrapper {
    display: none!important;
}

.ush-info-title + .ProductRating__Wrapper-sc-1l4gexz-0.iwgPnw.ush-bundle-rating-wrapper {
    display: block!important;
}


.m-page-contact {
    .shopify-section {
        &:last-child {
            padding-bottom: 0px;
        }
    }
}

.m-product-new-bundle {
    [id*="__text_kicker_description_"] {
        padding-bottom: 80px;

        @media screen and (max-width: 768px) {
            padding-bottom: 60px;
        }
    }
}

.m-page-catering,
.m-page-wholesale-2 {
    .join-us-card {
        @media (min-width: 1024px) {
            gap: 40px;
            grid-template-columns: 420px 1fr;
        }
    }
}

.locations-card {
    .badge {
        padding: 4px 10px;
        @media (max-width: 768px) {
            font-size: 10px;
        }
    }
}

.m-index {
    .b-hero-banner_btn {
        min-width: 222px;
    }
}