@use '../config/all-config' as cfg;

.b-footer {
  &-input {
    background-color: transparent;
    border-bottom: 1px solid rgba(231, 231, 231, 1);
    color: var(--color_1);
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 26px 0 12px;
    width: 290px;

    &::placeholder {
      color: var(--color_1);
    }

    &:focus {
      outline: none;
    }

    @include cfg.media(max-t) {
      width: 100%;
      max-width: 380px;
    }
  }

  &-btn {
    width: 145px;

    @include cfg.media(max-t) {
      width: 100%;
      max-width: 380px;
    }
  }

  &-top {
    border-bottom: 1px solid rgba(108, 109, 110, 1);
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}
