@use '../config/all-config' as cfg;

.b-footer {
  &-input {
    background-color: transparent;
    border-bottom: 1px solid #E7E7E7 !important; // Inactive
    color: rgba(255, 255, 255, 1);
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 26px 0 12px;
    width: 290px;
    transition: border-color 0.3s ease;

    // Плейсхолдер
    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
      transition: color 0.3s ease;
    }

    // Стани для бордера
    &:hover {
      border-bottom-color: #FFFFFF; // Hover
    }

    &:focus {
      border-bottom-color: #78B956; // Focused
      outline: none;

      &::placeholder {
        color: rgba(255, 255, 255, 0.3);
      }
    }

    &:disabled {
      border-bottom-color: #949597; // Disabled

      &::placeholder {
        color: rgba(255, 255, 255, 0.4);
      }
    }

    &.error {
      border-bottom-color: #E12528; // Error

      &::placeholder {
        color: rgba(255, 107, 107, 1);
      }
    }

    &.success {
      border-bottom-color: #78B956; // Success (такий самий як Focused)

      &::placeholder {
        color: rgba(120, 255, 120, 1);
      }
    }

    @include cfg.media(max-t) {
      width: 100%;
      max-width: 380px;
    }
  }

  &-btn {
    width: 145px;

    @include cfg.media(max-t) {
      width: 100%;
      max-width: 380px;
    }
  }

  &-top {
    border-bottom: 1px solid rgba(108, 109, 110, 1);
    padding-bottom: 40px;
    margin-bottom: 40px;
  }

  &__title {
    color: #ADAEB0;
    @include cfg.font(body-400, 14px, 1.14);
    letter-spacing: 4px;
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: 32px;
  }

  &__link {
    @include cfg.font(body-400, 16px, 1.375);
    letter-spacing: 0.6px;
    opacity: 0.9;
    transition: opacity 0.3s ease;
    vertical-align: middle;
    display: block;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__copyright,
  &__bottom-link {
    color: #e7e7e7;
    @include cfg.font(body-400, 13px, 1.14);
    @include cfg.media(max-xs) {
      font-size: 8px;
    }
    opacity: 0.8;
  }

  &__bottom-link {
    color: #e7e7e7;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }
  }

  &__newsletter-title {
    @include cfg.font(body-400, 18px, 1.14);
  }

  .btn.btn-light {
    min-width: 200px;
    @include cfg.media(max-m) {
      width: 100%;
    }
  }


  .b-footer-input {
    border-radius: 0 !important;
  }

  .relative .w-full {
    min-width: 100%;
  }

  .footer-space-l {
    margin-top: 100px;
    @include cfg.media(max-m)  {
      margin-top: 80px;
    }
  }

  .footer-space {
    max-width: 90%;
    @include cfg.media(max-m) {
      max-width: 100%;
    }
  }

  .payment-icon {
    width: 36px;
    height: 24px;
  }
}

@media (max-width: 767px) {
  #footer .container {
      padding: 0 6px !important;
  }

  .b-footer.custom-padding {
    padding-top: 60px;
    padding-bottom: 0;
  }
}


@media (min-width: 768px) {
  .b-footer.custom-padding {
    padding: 60px 0 0 0;
  }
}
