@use '../config/all-config' as cfg;

@forward '../elements/auth-modal';

/* Header */
.b-header {
  $mobile-resolutions: 768px;
  border-bottom: 1px solid rgba(173, 174, 176, 1);
  border-top: 0;
  position: relative;
  z-index: 999;

  transition: all .6ms;

  > a, > button {
    color: rgba(71, 71, 71, 1) !important;
  }

  .mobile-menu-inner {
    width: calc(100% - 32px);
  }


  .mobile-menu {
    display: none;
    @media (max-width: 1310px) {
        display: block;
    }
  }

  &.m-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    //box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-color: rgba(173, 174, 176, 1) !important;
    background: rgba(231, 231, 231, 1);
    transition: all .6ms;

    .b-header__list-link, .group button, .b-header__list-link.m-active{
      color: rgba(71, 71, 71, 1) !important;
    }

    .group button svg path {
      fill: rgba(71, 71, 71, 1) !important;
    }

    .b-header__list-link.m-active::before, .b-header__list-link.m-active::after {
      background: rgba(71, 71, 71, 1) !important;
    }

    .b-header__cartlogin svg path {
      fill: rgba(71, 71, 71, 1) !important;
    }
  }

  &__promo {
    background: rgba(71, 71, 71, 1);
    font-size: 16px;
    font-weight: 400;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      transition: all 0.3s;
    }

    p {
      position: relative;
      margin: 0;

      &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background-color: #ffffff;
        opacity: 0;
        transition: all 0.3s;
      }
    }

    a:hover {
      opacity: 0.8;

      p {
        &::before {
          opacity: 0.8;
        }
      }
    }

    .icon {
      width: 16px;
      height: 16px;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem 1rem;

    &.m-center {
      height: 92px;

      @include cfg.media(max-t) {
        height: 60px;
      }
    }

    &.m-left {

    }

    &.m-above {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    @media (max-width: 1310px) {
      justify-content: space-between;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  &__nav-left {
    .b-header__inner.m-left &,
    .b-header__inner.m-above & {
      order: 2;
    }

    .b-header__inner.m-above & {
      flex-grow: 0;
      margin-right: 1rem;
    }
  }

  &__nav-right {
    display: flex;
    margin-left: 5rem;
    margin-right: 4rem;

    .b-header__inner.m-center & {
      justify-content: flex-end;
      margin-left: 0;
    }

    .b-header__inner.m-left &,
    .b-header__inner.m-above & {
      order: 3;
    }

    .b-header__inner.m-above & {
      flex-grow: 1;
    }
  }

  &__nav-left,
  &__nav-right {
    .b-header__inner.m-center & {
      flex-grow: 1;
    }

    @media (max-width: 1310px) {
        display: none;
    }
  }

  &__cartlogin {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 23px;

    .b-header__inner.m-left &,
    .b-header__inner.m-above & {
      order: 4;
    }
  }

  &_cart-toggle {

  }

  &__cart-count {
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 50%;
    background-color: var(--color_1);
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
    line-height: 20px;
    width: 20px;
    height: 20px;
  }

  &__account {
    @include cfg.media(max-m) {
      display: none;
    }
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;

    @include cfg.media(max-t) {
      width: 150px;
    }

    @include cfg.media(max-m) {
      height: 70px;
    }

    .b-header__inner.m-left & {
      position: static;
      order: 1;
      flex-grow: 1;
      transform: translateX(0);
    }

    .b-header__inner.m-above & {
      position: static;
      order: 1;
      flex-grow: 1;
      transform: translateX(0);
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    }
  }

  &__list {
    gap: 41px;

    @include cfg.media(max-t) {
      gap: 20px;
    }

    [x-show="isOpened"] {
      z-index: 9;
    }

    .groups {
      button {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  &__list-item {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }

  &__list-link {
    color: var(--color_1);
    transition: color 0.3s;
    position: relative;

    &::after,
    &::before {
      content: '';
      position: absolute;
      bottom: -1px;
      width: 0;
      height: 1px;
      background-color: var(--color_1);
      transition: width 0.3s;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }

    &:hover,
    &.m-active {
      color: var(--color-black);

      &::before,
      &::after {
        width: 50%;
      }
    }
  }

  &__mobmenu {
  }
}

.megamenu-list {
  ul {
    li {
      &:not(:last-child) {
        margin-bottom: 12px;
      }

      a {
        font-size: 48px;
        line-height: 1.1;
        font-weight: 300;
        font-family: var(--font-heading, "WT Monarch Nova"), system-ui, -apple-system, Arial, sans-serif;
      }
    }
  }
}

.header--over-hero .logo--light, .header--over-hero.b-header.m-sticky .logo--dark { display: inline-flex; }
.logo--light, .header--over-hero .logo--dark, .header--over-hero.b-header.m-sticky .logo--light { display: none; }

.menu-collection {
  &:not(:first-child) {
    margin-top: 24px;
  }

  &_image {
    min-width: 116px;
    height: 116px;
  }

  &_description {
    span {
      font-size: 18px;
      line-height: 24px;
      font-family: var(--font-heading, "WT Monarch Nova"), system-ui, -apple-system, Arial, sans-serif;
      margin-bottom: 6px;
      display: inline-flex;
    }

    &-text {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 12px;
    }

    .link {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 4px;
      text-transform: uppercase;
      border-bottom: 1px solid rgba(71, 71, 71, 1);

      &:hover {
        border-bottom-color: transparent;
      }
    }
  }
}
