@use '../config/all-config' as cfg;

.b-mini_cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  // border: 1px solid var(--color_1);
  // border-radius: 20px;
  transition: all 0.3s;

  @include cfg.media(max-m) {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    top: 50%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
  }

  &.is-open {
    opacity: 1;
    visibility: visible;

    @include cfg.media(min-m) {
      transform: translateX(0);
    }

    // .b-mini_cart-list {
    //   content-visibility: visible;
    // }
  }

  &.is-closed {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
  }

  &-list {
    // content-visibility: hidden;
    scrollbar-color: rgba(18, 18, 18, 0.2) transparent;
    scrollbar-width: thin;

    &.m-loading {
      &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 10;
        pointer-events: none;
      }

      &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 48px;
        height: 48px;
        border: 5px solid #D8452B;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
      }

      @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
      }
    }
  }

  &-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    // background-color: #f5f5f5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &-progress-bar {
    position: relative;
    height: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgba(18, 18, 18, 0.1);
    overflow: hidden;

    &-fill {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      bottom: 0;
      background-color: rgb(229, 106, 84);
      transition: all 0.3s;
    }
  }

  &-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    padding: 10px 0;
    position: relative;
  }

  &-item__desc {

  }

  &-total {
      border-top: 1px solid #181818;
  }

  &-carousel {

  }

  &-carousel__footer {
    position: relative;
    height: 40px;
    width: 140px;
    margin: 0 auto;

    .swiper-button-prev,
    .swiper-button-next {
      width: 20px;
      height: 20px;
      color: var(--color_1);
      margin-top: -10px;

      &::after {
        font-size: 20px;
      }
    }
  }
}
