@use '../config/all-config' as cfg;


.advantages {

    &__inner {
        @include cfg.media(min-t) {
            display: grid;
            grid-template-columns: 350px 1fr 680px;
            // grid-template-columns: 300px 1fr 1fr;
        }
        
        @media (max-width: 1300px) {
            grid-template-columns: 300px 1fr 1fr;
        }
    }

    &__text {
        text-align: center;
        
        @include cfg.media(min-t) {
            text-align: left;
            max-width: 350px; 
            transform: translateX(130px);
        }
    }

    &__list {
        column-gap: 80px;
       

        p {
            font-size: 14px;
            color: #474747;
        }

        &__item {
            justify-content: center;
        }

        @media (min-width: 1400px) {
            padding-left: 100px;
        }

    }
  
    .advantages__num-badge {
        color: #474747;
    }

  
    .advantages__decor {
      position: absolute;
      inset: 0;
      margin: auto;
      width: min(92%, 520px);
      height: 100%;
      pointer-events: none;
      z-index: -1;
    }
  }
  