@use '../config/all-config' as cfg;

.advantages {

  &__inner {
    @include cfg.media(min-t) {
      display: grid;
      grid-template-columns: 1fr 400px 50%;
      align-items: start;
      justify-content: start;
    }
  }

  &__text {
    text-align: center;

    @include cfg.media(min-t) {
      text-align: left;
      max-width: 350px;
      transform: none;
      // Дозволяємо картинці налазити
      position: relative;
      z-index: 1;
    }
  }

  &__media {
    @include cfg.media(min-t) {
      max-width: 400px;
      margin-left: -100px;
      position: relative;
      z-index: 2;
    }
  }

  &__list {
    column-gap: 80px;

    p {
      font-size: 14px;
      color: #474747;
    }

    &__item {
      justify-content: center;
    }

    @include cfg.media(min-t) {
      max-width: none;
      width: 100%;
      padding-left: 0;
    }
  }

  .advantages__num-badge {
    color: #474747;
  }

  .advantages__decor {
    position: absolute;
    inset: 0;
    margin: auto;
    width: min(92%, 520px);
    height: 100%;
    pointer-events: none;
    z-index: -1;
  }
}
