@use '../config/all-config' as cfg;
@use '../config/fonts' as fonts;

$text-primary: #474747;
$text-gray: #474747;
$background-white: #ffffff;
$background-blog: #EEEEEE;
$background-gray: #f5f5f5;
$accent-hover: #333333;
$background: #E7E7E7;
$border-medium: #ADAEB0;

.m-blog-modern {
  padding: 60px 0;
  background: $background;

  &__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
  }

  &__header {
    text-align: center;
    margin-bottom: 60px;
  }

  &__main-title {
    @include fonts.font(heading-400, 100px, 1.1);
    color: $text-primary;
    margin: 0;
    text-align: left;
    letter-spacing: 2px;
    @include fonts.font-smoothing;
  }

  &__group {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
    align-items: stretch;
    justify-content: space-around;

    &:last-child {
      margin-bottom: 0;
    }

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &__small-posts {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 0 0 calc(50% - 12px);
  }
}

.m-blog-post {
  background: $background-blog;
  border: 1px solid $border-medium;
  border-radius: 20px;
  overflow: hidden;

  &--large {
    flex: 0 0 calc(50% - 12px);
    display: flex;
    flex-direction: column;
  }

  &--small {
    display: flex;
    align-items: stretch;
    flex: 1;
  }

  &__image {
    overflow: hidden;
    flex-shrink: 0;

    .m-blog-post--large & {
      height: 420px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    .m-blog-post--small & {
      width: 50%;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    padding: 24px;

    .m-blog-post--small & {
      padding: 25px;
      width: 50%;
    }
  }

  &__title {
    @include fonts.font(heading-400, 24px, 1.3);
    color: $text-primary;
    @include fonts.font-smoothing;

    .m-blog-post--small & {
      font-size: 18px;
      margin-bottom: 10px;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: $accent-hover;
      }
    }
  }

  &__excerpt {
    @include fonts.font(body-400, 16px, 1.375);
    color: $text-gray;
    margin: 16px 0 26px;
    @include fonts.font-smoothing;

    .m-blog-post--small & {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }

  &__link {
    @include fonts.font(body-400, 14px, 16px);
    color: $text-primary;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-bottom: 2px;
    @include fonts.font-smoothing;
    transition: all 0.3s ease;
    align-self: flex-start;
    margin-top: auto;

    &:hover {
      color: $accent-hover;
      border-bottom-color: $accent-hover;
    }
  }

  &__placeholder {
    width: 100%;
    height: 100%;
    background: $background-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    @include fonts.font(body-400, 14px, 1.4);
    color: $text-gray;
    @include fonts.font-smoothing;
  }
}

@include cfg.media(max-m) {
  .m-blog-modern {
    padding: 40px 0;

    &__container {

      padding: 0 16px;
    }

    &__header {
      margin-bottom: 40px;
    }

    &__main-title {
      font-size: 36px;
    }

    &__group {
      flex-direction: column;
      gap: 30px;

      &--reverse {
        flex-direction: column;
      }
    }

    &__small-posts {
      flex: 0 0 100%;
      gap: 30px;
    }
  }

  .m-blog-post {
    &--large {
      flex: 0 0 100%;
    }

    &--small {
      flex-direction: column;

      &.m-blog-post--reverse {
        flex-direction: column;
      }
    }

    &__image {
      .m-blog-post--large & {
        height: 250px;
      }

      .m-blog-post--small & {
        width: 100%;
        height: 200px;
      }
    }

    &__content {
      padding: 25px;

      .m-blog-post--small & {
        padding: 25px;
        width: 100%;
      }
    }

    &__title {
      font-size: 20px;

      .m-blog-post--small & {
        font-size: 18px;
      }
    }

    &__excerpt {
      font-size: 15px;

      .m-blog-post--small & {
        font-size: 14px;
      }
    }
  }
}
