.b-featured_posts {
  &--item_content {
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    &.m-over-image {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px;
      color: #fff;
    }
  }

  &--item_figure {
    position: relative;
    overflow: hidden;
  }

  &--item_img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
  }
}
