.build-bundle {
    .bundle-img {
        img {
            object-fit: cover;
        }

    }
    @media (max-width: 1320px) {
        padding-bottom: 60px;
        .bundle-img {
            img {
                object-fit: contain;
            }
        }
    }

    &__text {
        @media (max-width: 767px) {
            margin-top: -100px;
        }
    }
}
