@use '../config/all-config' as cfg;

.careers-section {
    .careers-heading {
        margin-bottom: 24px;
    }

    &__content-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
        @media (min-width: 1500px) {
            gap: 178px;
        }

        @media (min-width: 1300px) {
            grid-template-columns: 280px 1fr;
        }
    }

    .careers-small-heading {
        color: #474747;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 20px;
    }

    &__content-inner {
        color: #474747;
        line-height: 1.5;

        .careers-description {
            ul {
                color: #474747;
                list-style-type: disc;
                margin-left: 18px;
                li {
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    .careers-content {
        display: grid;
        grid-template-columns: 542px 334px;
        gap: 24px;
        padding-top: 60px;
        z-index: 3;
        position: relative;

        // align-items: flex-end;

        &--img-reverse {
            grid-template-columns: 334px 542px;
            @media (max-width: 1300px) {
                grid-template-columns: 1fr 1fr;
            }
        }

        img {
            object-fit: cover;
            border-radius: 20px;
        }

        &--equal {
            grid-template-columns: 1fr 1fr;

            img {
                height: 500px;
            }

            .careers-image-wrapper,
                .careers-person-wrapper {
                    border-bottom: none!important;
                    padding-bottom: 0!important;
                    margin-bottom: 0!important;
                }

            @media (max-width: 1200px) {
                grid-template-columns: 1fr;
            }

            @media (max-width: 768px) {
                img {
                    height: auto;
                }
            }
        }

        @media (max-width: 600px) {
            padding-top: 60px;
            grid-template-columns: 1fr;
        }

        .careers-image-wrapper,
        .careers-person-wrapper {

            img {
                width: 100%;
            }
        }



        .careers-cta-text {
            margin-bottom: 32px;
        }

        .careers-cta-heading,
        .careers-offer-heading {
            margin-bottom: 24px;
            @include cfg.h3;
        }

        .careers-offer-list {
            li {
                .careers-offer-number {
                    font-weight: 600;
                    margin-right: 24px;
                }

                &:not(:last-child) {
                    margin-bottom: 16px;
                }
            }
        }
    }

    .careers-quote {
        position: relative;
        z-index: 2;
        padding-bottom: 120px;
        padding-top: 120px;

        @media (max-width: 600px) {
            padding-top: 160px;
            padding-bottom: 60px;
        }

        img {
            transform: translateY(-50%);
            position: absolute;
            z-index: 1;
        }

        &--icon,
        &--text {
            z-index: 3;
        }

        &--icon {
            position: absolute;
            left: -80px;
            top: 0;
            transform: translateX(-100%);

            @media (max-width: 1300px) {
                left: 0;
                top: -30px;
                transform: translateX(0%);
                transform: translateY(-100%);

                svg {
                    height: 60px;
                    width: 79px;
                }
            }
        }

        &--text {
            position: relative;
            @include cfg.h5;
        }

        &--author {
            text-transform: uppercase;
            letter-spacing: 3px;
            padding-top: 24px;
            font-size: 14px;
        }
    }
}
