.collections-switcher {

    &__inner {
        display: grid;
        // grid-template-columns: 330px minmax(0, 1fr);
        grid-template-columns: 1fr 2fr;
        position: relative;
        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        padding: 40px 0 32px;
        border-bottom: 1px solid #ADAEB0;
    }

    &__title {
        color: #ADAEB0;
        transition: all 0.5s ease;
        cursor: pointer;
        @media (max-width: 767px) {
            font-size: 24px;
            display: block;
            width: 100%;
            text-align: center;
        }

        &.active {
            color: #474747;
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 8px;
        }

        &:hover {
            color: #474747;
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 6px;
        }
    }

    &__main-title {
      width: 100%;
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      padding-left: 300px;
      padding-right: 300px;
        @media (max-width: 767px) {
          font-size: 52px;
          position: relative;
          padding-left: 0;
          padding-right: 0;
          transform: translateY(0);
          text-align: left;
        }
    }
}
