.collection-grid {
    &__inner {
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(4, minmax(0, 1fr));

        @media (max-width: 1250px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @media (max-width: 767px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 4px;
        }

        &--row {
            margin-bottom: 40px;
            @media (max-width: 767px) {
                margin-bottom: 0;
            }
            &:not(:last-child) {
                @media (max-width: 767px) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}