// styles/sections/not-found-page.scss
@use '../config/all-config' as cfg;
@use '../config/fonts' as *;

$text-primary: #474747;
$background-gray: #E7E7E7;
$border-dark: #474747;

.m-404-page {
  background-color: $background-gray;
  min-height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-404-page__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.m-404-page__title {
  @include font(heading-400, 200px, 1);
  color: $text-primary;
  @include font-smoothing;
  margin: 0;
}

.m-404-page__subtitle {
  @include font(body-400, 18px, 1.6);
  color: $text-primary;
  max-width: 600px;
  margin: 0;
}

.m-404-page__button {
  @include font(body-400, 14px, 16px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 244px;
  height: 48px;
  border-radius: 100px;
  border: 1px solid $border-dark;
  padding: 16px 32px;
  background-color: transparent;
  color: $border-dark;
  text-decoration: none;
  letter-spacing: 4px;
  text-transform: uppercase;
  opacity: 1;
  transition: all 0.3s ease;

  &:hover {
    background-color: $border-dark;
    color: #ffffff;
  }
}
