// @use '../config/all-config' as cfg;

.products-section {
    position: relative;

    @media (max-width: 678px) {
      padding-bottom: 26px;
    }

    &-bg {
        .swiper-box .swiper-pagination-progressbar-fill {
            background: #fff;
        }

        .btn-light {
            border: 1px solid #fff;
            &:hover {
              border: 1px solid #474747;
            }
        }

        .products-section__header {
          margin-bottom: 50px;

          @media (max-width: 1024px) {
            margin-bottom: 30px;
          }
        }
    }

    &__header {
        @media (max-width: 768px) {
          gap: 0;
        }

        &--title {
            color: #474747;
            margin-bottom: 12px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

      &--text-and-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;

        // Default alignment classes
        &.items-start {
          align-items: flex-start;

          @media (max-width: 767px) {
            align-items: flex-start;
          }
        }

        &.items-center {
          align-items: center;

          @media (max-width: 767px) {
            align-items: center;
          }
        }

        &.items-end {
          align-items: flex-end;

          @media (max-width: 767px) {
            align-items: start;
          }
        }

        .text:not(:has(~ .text)) {
          margin-bottom: 10px;
        }
      }

        .text,
        .badge {
            line-height: 22px;
            color: #474747;
        }

        .badge {
          font-size: 14px;
          letter-spacing: 4px;
          text-transform: uppercase;
          padding: 0;
        }

    }

    .swiper-button-next,
    .swiper-button-prev {
        border: none;
        background-color: #fff;
        // transform: translateY(100%);

        &:hover {
            background-color: #474747;
            color: #fff;
        }

        @media (max-width: 1024px) {
            display: none;
        }

    }

    .swiper-box .swiper-button-next {
        right: 40px;
    }

    .swiper-box .swiper-button-prev {
        left: 40px;
    }

    .swiper-pagination {
        bottom: -40px;
        @media (max-width: 1024px) {
            bottom: -24px;
        }

    }
  }

  @media (min-width: 768px) {
    .products-section .products-section__container {
      padding-left: 0;
      padding-right: 0;
    }
  }



