// @use '../config/all-config' as cfg;

.products-section {
    position: relative;

    &-bg {
        .swiper-box .swiper-pagination-progressbar-fill {
            background: #fff;
        }

        .btn-light {
            border: 1px solid #fff;
        }
    }

    &__header {
        &--title {
            color: #474747;
            margin-bottom: 12px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &--text-and-btn {
            display: flex;
            justify-content: center;
            .text:not(:has(~ .text)) {
                margin-bottom: 10px;
            }
        }

        .text,
        .badge {
            line-height: 22px;
            color: #474747;
        }

        .badge {
            font-size: 14px;
            letter-spacing: 4px;
            text-transform: uppercase;
        }

    }

    .swiper-button-next,
    .swiper-button-prev {
        border: none;
        background-color: #fff;
        // transform: translateY(100%);

        &:hover {
            background-color: #474747;
            color: #fff;
        }

        @media (max-width: 1024px) {
            display: none;
        }

    }

    .swiper-box .swiper-button-next {
        right: 40px;
    }

    .swiper-box .swiper-button-prev {
        left: 40px;
    }

    .swiper-pagination {
        bottom: -60px;
        @media (max-width: 1024px) {
            bottom: -40px;
        }

    }
  }

  @media (min-width: 768px) {
    .products-section .products-section__container {
      padding-left: 0;
      padding-right: 0;
    }
  }



