.proposals-grid {
    &__list {
      display: grid;
      gap: 8px;
      @apply md:grid-cols-2 xl:grid-cols-4;
    }
  }
  
  .proposals-card {
    border: 1px solid #ADAEB0;
    background: #E7E7E7;
    color: #474747;
    border-radius: 20px;
    padding: 32px 20px;
    display: grid;
    align-content: start;
    transition: transform .2s ease, box-shadow .2s ease, border-color .2s ease;

  
    &:hover {
      border-color: #FFFFFF;
      background-color: #fff;
    }
  
    &--primary { background: #FFFFFF; }
  
    &__head {
      display: grid;
      grid-template-columns: 1fr;
      gap: 12px;
      align-items: baseline;
    }
    
    &__title {
        margin-bottom: 12px;
    }
  
    &__text {
      line-height: 1.4;
    }
  }
  
  @media (max-width: 767px) {
    .proposals-card {
        padding: 32px 16px;
    }
  }

// modal styles
.c-modal { 
    transition: opacity .2s ease; 
    &__panel {
        padding: 60px 120px;
        transform: translateY(12px); 
        opacity: 0; 
        transition: transform .2s ease, opacity .2s ease;

        max-height: min(880px, calc(100svh - 32px)); 
    
        @supports not (height: 1svh) {
            max-height: min(880px, calc(100vh - 32px));
        }

        @media (max-width: 900px) {
            padding: 60px 16px;
        }

        width: min(900px, 92vw);
    }

    &.is-open {
        .c-modal__panel {
            transform: translateY(0); opacity: 1;
        }
    }

    &__close {
        svg {
            width: 20px;
            height: 20px;
        }
    }

    &__content {
        overflow: auto;

        max-height: min(660px, calc(60svh - 32px)); 
    
        @supports not (height: 1svh) {
            max-height: min(660px, calc(60vh - 32px));
        }

        textarea {
            height: 84px!important;
            padding-top: 20px!important;
        }
    }

    @supports (width: 1svw) {
        .c-modal__panel { width: min(900px, 92svw); }
    }
}


  