.text-kicker-description {

    &__kicker {
        font-size: 14px;
        @apply text-center
        uppercase
        tracking-[4px]
        mb-[40px] md:mb-[60px]
        pb-[16px] md:pb-[20px]
        border-b border-b-[#ADAEB0];
    }

    &__text {
        @apply max-w-[903px] mx-auto;
        &--left {
            max-width: 100%;

            .text-kicker-description__desc {
                margin-left: 0;
                margin-right: 0;
                text-align: left;
                padding-bottom: 60px;
            }

            .text-kicker-description__title {
                text-align: left;
                margin-bottom: 12px;
            }
        }
    }

    &__title {
        @apply
        text-center
        text-[36px]
        md:text-[56px]
        leading-[1.2] text-[#474747]
        mb-[24px];

        &--bigger {
            @apply md:text-[100px] text-[52px];
        }
    }

    &__desc {
        @apply text-center text-[16px] leading-[150%] text-[#6b6b6b];
        width: 100%;
        max-width: var(--desc-w-m, 100%);
        @media (min-width: 768px) {
            max-width: var(--desc-w-d, 100%);
        }
    }
}
