@use '../config/all-config' as cfg;
@use '../sections/accordion';

.faq__items {
  .ui-acc__title {
    @include cfg.font(body-400, 16px, 1.2);
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 21.41px 0;
    @media (max-width: 767px) {
      text-align: left;
      padding: 3px 0 !important;
    }
  }
}
