
.ui-acc + .ui-acc { 
    border-top-width: 1px; 
}

.ui-acc:last-of-type { 
    border-bottom: 1px solid #474747; 
}

.ui-acc__icon path { 
    transition: opacity .2s ease; 
}
summary::-webkit-details-marker{
    display:none
}

@media (prefers-reduced-motion: reduce){
  .ui-acc__content{ transition: none !important; }
}