.visit-us {
  margin-top: -139px;
  @media (max-width: 1250px) {
    margin-top: -80px;
  }
    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;
        padding-top: 60px;
        @media (max-width: 1250px) {
            grid-template-columns: 1fr;
            gap: 60px;
            padding-top: 40px;
        }
    }

    &__map-inner {
        height: 720px;
        width: 100%;
        @media (max-width: 1250px) {
            height: 500px;
        }
    }

    &__text-inner {
        padding: 60px 0px 0px 280px;
        @media (max-width: 1440px) {
          padding-left: 40px;
        }
        @media (max-width: 1250px) {
            padding: 40px 16px 0px 16px;
        }
    }

    .form-control:-webkit-autofill, .form-control:-webkit-autofill:hover, .form-control:-webkit-autofill:active, input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:active, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:active {
        -webkit-text-fill-color: #1a1a1a !important;
        caret-color: #1a1a1a;
        box-shadow: 0 0 0 1000px #E7E7E7 inset !important;
        -webkit-box-shadow: 0 0 0 1000px #E7E7E7 inset !important;
        -webkit-transition: background-color 5000s ease-in-out 0s;
        transition: background-color 5000s ease-in-out 0s;
    }
}
